/* TODO: 
change a lot of this stuff to use more of the bootstrap approach 
overflow in ol
position of prev/next month should be constant, annoying to have to chase the buttons
*/

* {
	padding: 0;
	margin: 0;
	outline: 0;
	border: 0;
}
body {
	padding: 30px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #90A437;
}
a {
  color: #4F6000;
}
body > div { 
	position: absolute;
}
#calendar {
	background-color: #DCE7AA;
	outline: #4F6000 solid thin;
	left: 42px;
	width: 840px;
	margin-bottom: 42px;
}
.col-md-1 {
	width: 14.2857142857%;
	height: 90px;
}
#header h1 {
	padding: 8px;
	width: 400px;
}
#header-day-names .col-md-1 {
	height: 40px;
	text-align: center;
}
#calendar ol li {
	list-style-type: none;
	font-size: 12px;
}
.calendar-event:hover {
	color: blue; /* plain color names are lame */
}
.editing {
	color: red; /* but that's ok */
}
#header button, #header h1 {
	display: inline;
}
#controls, #event-edit-dialog {
	padding: 16px;
	background-color: #B5C669;
	width: 300px;
	left: 928px;
}
#controls *, #event-edit-dialog *  {
	margin-bottom: 6px;
	display: block;
}